$main-bg: rgb(255, 255, 255);
$main-color: #33007b;

$txt-main-color: $main-color;
$txt-second-color: #bdbdbd;
$txt-white: rgb(255, 255, 255);

$btn-main-bg: $main-color;
$btn-main-color: rgb(255, 255, 255);

$header-height: 120px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
  "blue": #4267b2,
  "orange": #fbb96b,
  "pink": #4c217a,
  "white": #fff,
  "black": #000,
  "red": #ff0000,
  "gold": #ffd700,
  "green": #567543,
  "main": $main-color,
);

$mobile-width: 600px;
$tablet-width: 1024px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
